span.pagetop {
  display: block;
  margin: 3px 5px;
  font-size: 12;
  line-height: normal;
}

.pagetop {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
}

.all_posts {
  display: flex;
  flex-direction:column
  /* justify-content: center; */

}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}